* {
    padding: 0px;
    margin: 0px;
    gap: 0px;
}

body {
    display: flex;
    justify-content: center;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#screen {
    margin-top: 20px;
    margin-bottom: 20px;
}

#screen[type="text"] {
    text-align: end;
}

#numpad, #operatorpad {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 175px;
}

button {
    height: 50px;
    width: 50px;
}
